.vercel
.node_modules
node_modules
/node_modules
node_modules.*
database.sqlite
database
.database 
/database 
/database.sqlite 
.database.sqlite
db/database
db/database.sqlite
db/.database 
db/.database.sqlite